<div class="survey-form-container">
  <header class="view-header-wrapper">
    <h1 class="main-heading">
      Industry Analyzer
      <span class="instructions">Select Up to 4 industries to compare</span>
    </h1>
    <p class="sub-heading">(you can change these at anytime)</p>
  </header>

  <form novalidate ng-submit="ajaxSubmit()" class="form-survey">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li ng-repeat="item in surveyItems" class="checkbox-wrapper">
        <input type="checkbox" name="{{item.name}}" ng-model="item.selected" id="{{item.name}}" ng-checked="{{item.selected}}" ng-change="update($index)">
        <label for="{{item.name}}">
          <span class="checkbox-icon icon-{{item.icon}} {{item.iconType}}-icon"></span>
          <span class="checkbox-title">{{item.title}}</span>
        </label>
      </li>
    </ul>
    <button type="submit" class="btn-submit">Submit Choices</button>
  </form>
</div>
